## Lab Demo COMP7035 Week 2

All of this lab should be submitted after this course

Ensure that you have finished Exercise-1, 2, 3, 4,

In [1]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [2]:
# Sets
#• An unordered collection with no duplicate elements
#• Doesn't allow for duplicate elements
a_set = {5,3,2,5}
for i in a_set:
        print(i)

2
3
5

In [4]:
set1 = set([1,1,1,2,2,3])
set2 = set(('a', 'a', 'b', 'b', 'c')) 
set3 = set('anaconda') 
set4 = {1, 1, 'anaconda', 'anaconda', 8.6, (1, 2, 3), None}
print(set1,set2,set3,set4)

{1, 2, 3} {'b', 'a', 'c'} {'o', 'd', 'n', 'a', 'c'} {1, None, 'anaconda', 8.6, (1, 2, 3)}

In [6]:
#Incorrect way: trying to create a set with mutable items (a list and a set)
#set5 = {1, 1, 'anaconda', 'anaconda', 8.6, [1, 2, 3], {1, 2, 3}}
#print('Set5:', set5)

In [25]:
#set1 = set(('apple',
#'cherry','pear','banana'))
#set1[1]

In [ ]:
#-----------------------------------------------------------------------

In [ ]:
# Dictionaries

In [28]:
thisdict = {
    "Male": 35,
    "Female": 46,
    "Senior People": 10
}
print(thisdict)

{'Male': 35, 'Female': 46, 'Senior People': 10}

In [29]:
# Duplicates are strictly nor allowed, duplicate values will overwrite existing values
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [30]:
# use dict() constructor to build a dictionary
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

# Exercise-1: For Loop

Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

# Exercise-2: Lists

**Please converse the variable to list**

In [ ]:
email = "renjiewan@hkbu.edu.hk"

**Please iterate over following lists:**

In [ ]:
AnimalList = ['Cat','Dog','Tiger','Cow']

**For loop：** Find the multiples of 5 in a list

In [ ]:
numbers = [2,5,6,10,15,20,25]

**For loop:** Find the sum of all numbers in a list

In [ ]:
numbers = [12,3,56,67,89,90]
sum = 0

***All of Exercise-2***

# Exercise-3: List Access

**Question 1:** Plese create a sublist by extracting elements from "banana" to "melon"

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

**Q2**: Create a list called `fruits` with the following elements: 'apple', 'banana', 'orange', 'grape'.
Print the first element of the list.

**Q3:** Create a list called `numbers` with the following elements: 10, 20, 30, 40, 50.
Print the last element of the list.

**Q4:**Create a list called `animals` with the following elements: 'cat', 'dog', 'elephant', 'giraffe', 'lion'.
Print the second element of the list.

**Q5:**Create a list called `colors` with the following elements: 'red', 'green', 'blue', 'yellow'.
Print the third element of the list.

**Q6:**Create a list called `grades` with the following elements: 90, 85, 95, 80, 75.
Print the second to last element of the list.

***All of Exercise-3***

# Exercise-4

**Question 1:** You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item:
* Use list method index(20) to get the index number of a 20
* Next, update the item present at the location using the index number

In [ ]:
list1 = [5, 10, 15, 20, 25, 50, 20]

## Exercise-5
### You can use any Python style or techniques to complete the exercise!

**While Loop:**
Please finish the following steps:

* Set counter = 0
* Run **while** loop till number != 0
* In each iteration of loop
* Reduce the last digit from the number using floor division ( number = number // 10)
*Increment counter by 1
* print counter

In [ ]:
num = 75869

**Q1:** Write a Python program to search a list for the first int object which is divisible by 13.  
You may test your program with the list [12, "COMP", 999.9, "2022", 26, "Great"]  
*Hint [`isinstance()`](https://www.w3schools.com/python/ref_func_isinstance.asp)*

In [ ]:
## Please write your code here

**Q2:**Write a Python program to convert the 24 hour clock to a 12 hour clock format.  
For example, to get an user input 1532, then output

In [ ]:
## Please write your code here

**Q3:**Write a Python program to sum all the items in a list.

In [20]:
numbers = [1, 2, 3, 4, 5]
sum = 0
for number in numbers:
    sum += number
print(sum)

15

**Q4:**Write a Python program to get the largest number from a list.

In [21]:
numbers = [10, 5, 20, 15, 30]
largeNum = numbers[0]
for number in numbers:
    if number > largeNum:
        largeNum = number
print(largeNum)

30

**Q5:**Write a Python program to remove duplicates from a list.

In [23]:
numbers = [1, 2, 3, 4, 4, 5, 6, 6, 7, 8, 9, 9]
unique_numbers = []
for number in numbers:
    if number not in unique_numbers:
        unique_numbers.append(number)

print(unique_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Q6:**Write a Python program to append a list to the second list.

In [24]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list2.extend(list1)

print(list2)

[4, 5, 6, 1, 2, 3]