In [1]:
import pandas as pd
import numpy as np

#â€¢ A one-dimensional labeled array capable of holding any mixture data type
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
print(s)

a   -0.527538
b    0.987302
c    2.605984
d    0.291367
e    1.850061
dtype: float64

**Exercise-1:** Create a Pandas Series from the given list and print the Series

`list = [1, 3, 5, np.nan, 6, 8]`

In [3]:
import pandas as pd
import numpy as np
list = [1, 3, 5, np.nan, 6, 8]
s = pd.Series(list, index=[0,1,2,3,4,5])
print(s)

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

**Exercise-2:** Create a Pandas Series from the given dictionary and print the Series

`dict = {'a': [1., 2], 'b': [{'a', 'b'}, 'c'], 'c': 3}`

In [4]:
import pandas as pd
dict = {'a': [1., 2], 'b':[{'a','b'}, 'c'], 'c':3}
s = pd.Series(dict)
print(s)

a       [1.0, 2]
b    [{b, a}, c]
c              3
dtype: object

**Exercise-3:** Print the Series as the order of index ['c', 'b', 'a']

In [5]:
import pandas as pd

#dict
dict = {'a': [1., 2], 'b': [{'a', 'b'}, 'c'], 'c': 3}
s = pd.Series(dict,index=['c','b','a'])
print(s)

c              3
b    [{b, a}, c]
a       [1.0, 2]
dtype: object

**Exercise-4:** Create a Series from the given dictionary and Convert the created Series to list and dictionary

In [6]:
import pandas as pd
import numpy as np

#given dict
d = {'a': 4, 'b': 8, 'c': 16, 'd': 32, 'e': 64}
print("Original dictionary")
print(d)
s = pd.Series(d)
print(s)
s_list = s.to_list()
s_dict = s.to_dict()
print(s_list)
print(s_dict)

Original dictionary
{'a': 4, 'b': 8, 'c': 16, 'd': 32, 'e': 64}
a     4
b     8
c    16
d    32
e    64
dtype: int64
[4, 8, 16, 32, 64]
{'a': 4, 'b': 8, 'c': 16, 'd': 32, 'e': 64}

**Exercise-5:** Given a Series of five cities and their corresponding populations, please use the tag index to extract the population corresponding to Hong Kong.

In [11]:
import pandas as pd

#given series
s = pd.Series([8000000, 15000000, 12000000, 7000000, 3000000], index=['New York', 'Tokyo', 'Shanghai', 'Hong Kong', 'Sydney'])
print(s)
print('--------------------------------------------------')
print('s["Hong Kong"]={}'.format(s["Hong Kong"]))
#print('s[0]={}'.format(s[0]))

New York      8000000
Tokyo        15000000
Shanghai     12000000
Hong Kong     7000000
Sydney        3000000
dtype: int64
--------------------------------------------------
s["Hong Kong"]=7000000

**Exercise-6:** Create a Series of 10 random numbers, use the position index to print out the first five elements and the last three elements.

In [18]:
import pandas as pd
import numpy as np
end_string = '\n' + '-'*50 + '\n'
s = pd.Series(np.random.randn(10), index=[i for i in range(0,10)])
print(s,end = end_string)
print(s[0:6], end = end_string) 
print(s[7::], end = end_string)

0    0.184299
1    0.397343
2   -0.312386
3    1.324679
4    2.130561
5    0.596765
6   -1.046940
7    1.330782
8   -0.543817
9    2.235452
dtype: float64
--------------------------------------------------
0    0.184299
1    0.397343
2   -0.312386
3    1.324679
4    2.130561
5    0.596765
dtype: float64
--------------------------------------------------
7    1.330782
8   -0.543817
9    2.235452
dtype: float64
--------------------------------------------------

**Exercise-7:** Create a Series of 10 random numbers, print all elements that are greater than 0.3 and calculate the proportion of elements that larger than 0.3 in the Seires

In [21]:
import pandas as pd
import numpy as np
end_string = '\n' + '-'*50 + '\n'
s = pd.Series(np.random.randn(10), index=[i for i in range(0,10)])
print(s,end = end_string)
print(s[s>0.3], end = end_string)

0    1.137553
1   -0.285101
2    0.038507
3   -0.269565
4    0.240221
5   -0.657282
6   -0.996926
7   -0.718557
8   -0.354667
9   -0.539637
dtype: float64
--------------------------------------------------
0    1.137553
dtype: float64
--------------------------------------------------

**Exercise-8:** Given a Series of 5 random numbers with indexes, use get() function to get the values of index 'd' and index 'f' respectively.
If there is no value of index 'f', add a value for index 'f'

In [23]:
import pandas as pd
import numpy as np

#given series
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s,end = end_string)
print(s.get('d'))
print(s.get('f'),end = end_string)
s['f'] = 0
print(s,end = end_string)

a    2.639163
b    0.229428
c   -0.227238
d   -0.933948
e    1.529753
dtype: float64
--------------------------------------------------
-0.933948385783771
None
--------------------------------------------------
a    2.639163
b    0.229428
c   -0.227238
d   -0.933948
e    1.529753
f    0.000000
dtype: float64
--------------------------------------------------

**Exercise-9:** Given a Series named ser, get the following information for it:
Index object
ndarray object of Series value
The name of Series
The data type of Series
Length of Series

In [27]:
import pandas as pd

#given Series
ser = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], name='age', dtype='float')
print(s.index,end = end_string)
print(s.values,end = end_string)
print(s.name,end = end_string)
print(s.dtype,end = end_string)
print(s.size,end = end_string) #length

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
--------------------------------------------------
[ 2.63916336  0.22942784 -0.22723754 -0.93394839  1.52975343  0.        ]
--------------------------------------------------
None
--------------------------------------------------
float64
--------------------------------------------------
6
--------------------------------------------------

**Exercise-10:** Given a Series of 5 numbers with indexes, use for loop to make every value double and print every index and new value

In [36]:
import pandas as pd
import numpy as np

#given series
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
print(s, end = end_string)
for idx, val in s.items():
    s[idx] *= 2
print(s, end = end_string)

a   -2.293624
b   -0.033711
c   -1.662023
d    0.411454
e   -1.417739
dtype: float64
--------------------------------------------------
a   -4.587248
b   -0.067423
c   -3.324046
d    0.822908
e   -2.835478
dtype: float64
--------------------------------------------------

**Exercise-11:** Given a Series of 5 Cities' Annual GDP, find all the cities whose annual GDP is higher than the average annual GDP of these cities

In [63]:
import pandas as pd
import numpy as np

#given series
city_gdp = pd.Series([1800, 1570, 960, 895, 890], index=['Tokyo', 'New York', 'Los Angelas', 'Seoul', 'Paris'])
sum = 0
for idx, val in city_gdp.items():
    sum += val
mean = sum / city_gdp.size
print(city_gdp[city_gdp > mean].index, end= end_string)

Index(['Tokyo', 'New York'], dtype='object')
--------------------------------------------------

**Exercise-12:** Given a Dictionary **data**, create a dataframe using dict **data**

In [40]:
import pandas as pd
import numpy as np

#given dict
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df = pd.DataFrame(data)
print(df)

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

**Exercise-13:** Given the Dictionary **data**, create a dataframe using dict **data**, and set the indexes as ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

In [41]:
import pandas as pd
import numpy as np

#given dict
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df = pd.DataFrame(data, index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)

  grammer  score
a  Python    1.0
b       C    2.0
c    Java    NaN
d      GO    4.0
e     NaN    5.0
f     SQL    6.0
g     PHP    7.0
h  Python   10.0

**Exercise-14:** Given the Dataframe created in **Exercise-13**, extract the lines containing the string **"Python"** to create a new Dataframe

In [43]:
import pandas as pd
import numpy as np

#new dataframe
df[df['grammer'] == 'Python']

  grammer  score
a  Python    1.0
h  Python   10.0

**Exercise-15:** Given the Dataframe created in **Exercise-13**, extract all information of the dataframe, including **index**, **columns**, **shape** and **values**

In [45]:
import pandas as pd
import numpy as np
print(df,end = end_string)
print(df.index,end = end_string)
print(df.columns,end = end_string)
print(df.shape,end = end_string)
print(df.values,end = end_string)

  grammer  score
a  Python    1.0
b       C    2.0
c    Java    NaN
d      GO    4.0
e     NaN    5.0
f     SQL    6.0
g     PHP    7.0
h  Python   10.0
--------------------------------------------------
Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'], dtype='object')
--------------------------------------------------
Index(['grammer', 'score'], dtype='object')
--------------------------------------------------
(8, 2)
--------------------------------------------------
[['Python' 1.0]
 ['C' 2.0]
 ['Java' nan]
 ['GO' 4.0]
 [nan 5.0]
 ['SQL' 6.0]
 ['PHP' 7.0]
 ['Python' 10.0]]
--------------------------------------------------

**Exercise-16:** Given the Dataframe created in **Exercise-13**, select and print the **'grammer'** and **'score'** for the rows with indices **'b'**, **'f'**, and **'h'**.

In [47]:
import pandas as pd
import numpy as np

selected_rows = df.loc[['b','f','h']]
print(selected_rows)

  grammer  score
b       C    2.0
f     SQL    6.0
h  Python   10.0

**Exercise-17:** Given the Dataframe created in **Exercise-13**, using **`.iloc`** to select and print the first three rows of the DataFrame.

In [49]:
import pandas as pd
import numpy as np

selected_rows = df.iloc[0:3]
print(selected_rows)

  grammer  score
a  Python    1.0
b       C    2.0
c    Java    NaN

**Exercise-18:** Given the Dataframe created in **Exercise-13**, select and print all rows where the **'grammer'** is **'Python'** and the **'score'** is **greater than 5**.

In [56]:
import pandas as pd
import numpy as np
result = df[(df['grammer'] == 'Python') & (df['score'] > 5)]
print(result)

  grammer  score
h  Python   10.0

**Exercise-19:** Given the Dataframe created in **Exercise-13**, calculate the **mean** of the **'score'** column and select and print all rows where the 'score' is **greater** than the mean.

In [73]:
import pandas as pd
import numpy as np

result = df[df['score'] > df['score'].mean()]
print(result)

  grammer  score
f     SQL    6.0
g     PHP    7.0
h  Python   10.0

**Exercise-20:** Given the Dataframe created in **Exercise-13**, calculate the **mean** of the **'score'** column and select and print all rows where the 'score' is **greater** than the mean.(Use **`.iloc`** to achieve this)

In [75]:
import pandas as pd
import numpy as np

mean_score = df['score'].mean()
mask = df['score'] > mean_score
result = df.iloc[mask.values]
print(result)

  grammer  score
f     SQL    6.0
g     PHP    7.0
h  Python   10.0

**Exercise-21:** Given the Dataframe **df1** and **df2**, compute the **left outer join** of df1 and df2, print the results

In [77]:
import pandas as pd
import numpy as np
data1 = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df1 = pd.DataFrame(data1)
data2 = {"grammer":["Python","C++","C","Java","GO","SQL","PHP"], "popularity":[9,8,7,6,5,4,3]}
df2 = pd.DataFrame(data2) 
print('df1:' , end = end_string)
print(df1, end = end_string)
print('df2:' , end = end_string)
print(df2, end = end_string)

merged = pd.merge(df1,df2, how='left')
print('left merged:' , end = end_string)
print(merged, end = end_string)

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
left merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0         9.0
1       C    2.0         7.0
2    Java    NaN         6.0
3      GO    4.0         5.0
4     NaN    5.0         NaN
5     SQL    6.0         4.0
6     PHP    7.0         3.0
7  Python   10.0         9.0
--------------------------------------------------

**Exercise-22:** Given the Dataframe **df1** and **df2**, compute the **right outer join** of df1 and df2, print the results

In [78]:
import pandas as pd
import numpy as np
data1 = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df1 = pd.DataFrame(data1)
data2 = {"grammer":["Python","C++","C","Java","GO","SQL","PHP"], "popularity":[9,8,7,6,5,4,3]}
df2 = pd.DataFrame(data2) 
print('df1:' , end = end_string)
print(df1, end = end_string)
print('df2:' , end = end_string)
print(df2, end = end_string)

merged = pd.merge(df1,df2, how='right')
print('right merged:' , end = end_string)
print(merged, end = end_string)

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
right merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0           9
1  Python   10.0           9
2     C++    NaN           8
3       C    2.0           7
4    Java    NaN           6
5      GO    4.0           5
6     SQL    6.0           4
7     PHP    7.0           3
--------------------------------------------------

**Exercise-23:** Given the Dataframe **df1** and **df2**, compute the **full outer join** of df1 and df2, print the results

In [79]:
import pandas as pd
import numpy as np

data1 = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df1 = pd.DataFrame(data1)
data2 = {"grammer":["Python","C++","C","Java","GO","SQL","PHP"], "popularity":[9,8,7,6,5,4,3]}
df2 = pd.DataFrame(data2) 
print('df1:' , end = end_string)
print(df1, end = end_string)
print('df2:' , end = end_string)
print(df2, end = end_string)

merged = pd.merge(df1,df2, how='outer')
print('outer merged:' , end = end_string)
print(merged, end = end_string)

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
outer merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0         9.0
1  Python   10.0         9.0
2       C    2.0         7.0
3    Java    NaN         6.0
4      GO    4.0         5.0
5     NaN    5.0         NaN
6     SQL    6.0         4.0
7     PHP    7.0         3.0
8     C++    NaN         8.0
--------------------------------------------------

**Exercise-24:** Given the Dataframe **df1** and **df2**, compute the **inner join** of df1 and df2, print the results

In [81]:
import pandas as pd
import numpy as np

data1 = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"], "score":[1,2,np.nan,4,5,6,7,10]}
df1 = pd.DataFrame(data1)
data2 = {"grammer":["Python","C++","C","Java","GO","SQL","PHP"], "popularity":[9,8,7,6,5,4,3]}
df2 = pd.DataFrame(data2) 
print('df1:' , end = end_string)
print(df1, end = end_string)
print('df2:' , end = end_string)
print(df2, end = end_string)

merged = pd.merge(df1,df2, how='inner')
print('inner  merged:' , end = end_string)
print(merged, end = end_string)

df1:
--------------------------------------------------
  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0
--------------------------------------------------
df2:
--------------------------------------------------
  grammer  popularity
0  Python           9
1     C++           8
2       C           7
3    Java           6
4      GO           5
5     SQL           4
6     PHP           3
--------------------------------------------------
inner  merged:
--------------------------------------------------
  grammer  score  popularity
0  Python    1.0           9
1  Python   10.0           9
2       C    2.0           7
3    Java    NaN           6
4      GO    4.0           5
5     SQL    6.0           4
6     PHP    7.0           3
--------------------------------------------------

**Exercise-25:** Given the Dataframe **employee_df**, use the **`df.apply`** method to create a new column that determines whether each employee's salary is **greater** than **the average salary**, and **count the number** of employees with a salary **above the average**.

In [ ]:
import pandas as pd
import numpy as np

#given dataframe
employee_data = {"education": ["Bachelor", "Bachelor", "Unlimited", "Bachelor", "Bachelor"],
     "salary": [27500, 30000, 27500, 16500, 15000],
     "categories": ["high", "high", "high", "medium", "medium"]
}

employee_df = pd.DataFrame(employee_data)

   education  salary categories
0   Bachelor   27500       high
1   Bachelor   30000       high
2  Unlimited   27500       high
3   Bachelor   16500     medium
4   Bachelor   15000     medium
Number of Employees with Salary Greater Than Average Salary: 3

**Exercise-26:** Given the Dataframe **salary_df**, use the **`df.applymap`** method to normalize each value of salary to a scale of 0 to 1 based on the **minimum** and **maximum** salaries in the DataFrame.(Normalize: $y = \frac{x - \text{min}}{\text{max} - \text{min}}$)

In [ ]:
import pandas as pd
import numpy as np

#given dataframe
salary_data = {"1st month": [29600, 28300, 25430, 14000, 16000],
     "2nd month": [27500, 30000, 27500, 16500, 15000]
}

salary_df = pd.DataFrame(salary_data)

   1st month  2nd month
0      29600      27500
1      28300      30000
2      25430      27500
3      14000      16500
4      16000      15000
--------------------------------------------------
   1st month  2nd month
0   0.975000    0.84375
1   0.893750    1.00000
2   0.714375    0.84375
3   0.000000    0.15625
4   0.125000    0.06250

<ipython-input-27-6bdf77db6a67>:20: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  salary_df = salary_df.applymap(lambda x: (x - min_salary) / (max_salary - min_salary))